<!DOCTYPE html>
<html>

<head>
    <title>Angular Todo Application</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
</head>

<body ng-app="app">
    <ui-view></ui-view>
    <script type="text/javascript" src="/jst.js"></script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/app.routes.js"></script>
    <script src="/js/controllers/angDasController.js"></script>
    <script src="/js/controllers/angHomeController.js"></script>
    <script src="/js/factories/angTodoFactory.js"></script>
    <!--SCRIPTS END-->
</body>

</html>
